/*css detail-movie y detail-serie*/
body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* css para el detalle de la película*/

.centroPelicula {
margin: 0 40px 0 40px;

}

.sinopsisPelicula {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}

.datosPelicula {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.tituloPrincipal {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.portadaPelicula {
    width: 100vw;
    height: 30vh;
   
}

ul{
    padding: 0;
}

.listaDetalle  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    
    
}

/* css para el detalle de la serie */
.centroSerie {
    margin: 0 40px 0 40px; /*preguntar si tambien uso el viewport*/
}

.portadaSerie {
    width: 100vw;
}

.tituloSerie {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    font-weight: bold;
}

.datosSerie
{
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}


/* css pagina géneros*/
.tituloGeneros {
    color: white;
    font-size: 35px;
    
}

.generoPeliculas {
    color: white;
}

.generoSeries {
    color: white;
}

.listaPelicula {
    color: white;
}

.listaSeries {
    color: white;
}

/*css pagina de generos*/
.centroGenero {
    margin: 0px 30px;
}
.tituloGeneros {
    text-align: center;
    margin: 0;
    font-size: 30px;
}
.generoPeliculas {
    margin: 10px;
    font-size: 22px;
}

.listaPelicula {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 12px;
}

.generoSeries {
    margin: 10px;
    font-size: 22px;
}

.listaSeries {
    list-style: none;
    margin: 12px;

}

.genero {
    border: solid 3px #061935c2;
    background-color: #081c3c;
    
}



/* mobile first*/ /*detail-movie y detail-serie*/
/*tablet*/
@media (min-width: 768px)
{ /*pagina pelicula*/

    .portadaPelicula {
    width: 100vw;
    height: 60vh;
  }
  .sinopsisPelicula {
      font-size: 25px;
  }
  /*pagina serie*/
  .portadaSerie {
    width: 100vw;
    height: 42vh;
  }
  .tituloSerie {
    margin: 0;
    font-size: 40px;
  }
  .sinopsisSerie {
      font-size: 30px;
  }
  /*pagina generos*/
  .genero {
      font-size: 17px;
  }

}

/*desktop*/
@media (min-width: 1024px) {
    /*pagina pelicula*/
    .portadaPelicula {
        width: 100vw;
        height: 60vh;
      }

    .tituloPrincipal {
        margin: 0;
        color: white;
        font-style: italic;
        font-size: 45px;
    }
    .datosPelicula {
        color: white;
        font-size: 30px;
    }

    .sinopsisPelicula {
        font-size: 32px;
    }

    /*pagina serie*/
    .portadaSerie {
        width: 100vw;
        height: 45vh;
         
    }
    .tituloSerie {
        font-size: 45px;
    }
    .datosSerie {
       color: white;
       font-size: 34px;     
    }
    .sinopsisSerie {
        font-size: 40px;
    }

    /*pagina géneros*/
    .tituloGeneros {
        font-size: 36px;
        margin: 15px 0px;
    }
    .generoPeliculas {
        font-size: 28px;
    }
    .generoSeries {
        font-size: 28px;
    }

    .genero {
        font-size: 22px;
        border: solid 6px #061935c2;
    }

}

