/*css detail-movie y detail-serie*/
body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* css para el detalle de la película*/

.centroPelicula {
margin: 0 40px 0 40px;

}

.datosPelicula {
    color: white;
    font-size: 21px;
}

.tituloPrincipal {
    margin: 0;
}

.portadaPelicula {
    width: 100vw;
    
    
}

ul  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    
}

/* css para el detalle de la serie */
.centroSerie {
    margin: 0 40px 0 40px; /*preguntar si tambien uso el viewport*/
}

.portadaSerie {
    width: 100vw;
}

.tituloSerie {
    font-style: italic;
    color: white;
}

.datosSerie
{
    color: white;
    font-size: 24px;
    
}

.tituloSerie {
    margin: 0;
}



/* mobile first*/ /*detail-movie y detail-serie*/
/*tablet*/
@media (min-width: 768px)
{

}

/*desktop*/
@media (min-width: 1024px) {

}

