/*css detail-movie y detail-serie*/
body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* css para el detalle de la película*/

.centroPelicula {
margin: 0 40px 0 40px;

}

.sinopsisPelicula {
    font-size: 24px;
}

.datosPelicula {
    color: white;
    font-size: 21px;
}

.tituloPrincipal {
    margin: 0;
    color: white;
    font-style: italic;
}

.portadaPelicula {
    width: 100vw;
    height: 30vh;
    
    
}

ul  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    
}

/* css para el detalle de la serie */
.centroSerie {
    margin: 0 40px 0 40px; /*preguntar si tambien uso el viewport*/
}

.portadaSerie {
    width: 100vw;
}

.tituloSerie {
    font-style: italic;
    color: white;
}

.datosSerie
{
    color: white;
    font-size: 24px;
    
}

.tituloSerie {
    margin: 0;
}

/* css pagina géneros*/
.tituloGeneros {
    color: white;
    font-size: 35px;
    
}

.generoPeliculas {
    color: white;
}

.generoSeries {
    color: white;
}

.listaPelicula {
    color: white;
}

.listaSeries {
    color: white;
}


/* mobile first*/ /*detail-movie y detail-serie*/
/*tablet*/
@media (min-width: 768px)
{ /*pagina pelicula*/

    .portadaPelicula {
    width: 100vw;
    height: 40vh;
  }
  .sinopsisPelicula {
      font-size: 25px;
  }
  /*pagina serie*/
  .portadaSerie {
    width: 100vw;
    height: 42vh;
  }
  .tituloSerie {
    margin: 0;
    font-size: 40px;
  }
  .sinopsisSerie {
      font-size: 30px;
  }

}

/*desktop*/
@media (min-width: 1024px) {
    /*pagina pelicula*/
    .portadaPelicula {
        width: 100vw;
        height: 40vh;
      }

    .tituloPrincipal {
        margin: 0;
        color: white;
        font-style: italic;
        font-size: 45px;
    }
    .datosPelicula {
        color: white;
        font-size: 30px;
    }

    .sinopsisPelicula {
        font-size: 32px;
    }

    /*pagina serie*/
    .portadaSerie {
        width: 100vw;
        height: 45vh;
    }
    .tituloSerie {
        font-size: 45px;
    }
    .datosSerie {
       color: white;
       font-size: 34px;     
    }
    .sinopsisSerie {
        font-size: 40px;
    }
}

